apiVersion: apps/v1
kind: Deployment
metadata:
  name: flashpaper
  labels:
    app: flashpaper
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flashpaper
  template:
    metadata:
      labels:
        app: flashpaper
    spec:
      containers:
        - name: flashpaper
          image: ghcr.io/liskl/flashpaper:latest
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 128Mi
