apiVersion: v1
kind: Service
metadata:
  name: flashpaper
  labels:
    app: flashpaper
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app: flashpaper
